<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>results</title>
    </head>
    <body>
        <p>Quarters: {{ newChange.quarters }} </p>
        <p>Dimes: {{ newChange.dimes }}</p>
        <p>Nickels: {{ newChange.nickles }}</p>
        <p>Pennies: {{ newChange.pennies }}</p>
    </body>
</html>
